[submodule "openal-soft"]
	path = external_libraries/openal-soft
	url = git@github.com:kcat/openal-soft.git
[submodule "libsndfile"]
	path = external_libraries/libsndfile
	url = git@github.com:libsndfile/libsndfile.git
