[submodule "clang_formatting"]
	path = clang_formatting
	url = git@github.com:cpp-toolbox/clang_formatting.git
[submodule "sbpt"]
	path = sbpt
	url = git@github.com:cpp-toolbox/sbpt.git
[submodule "src/graphics/textured_model_loading"]
	path = src/graphics/textured_model_loading
	url = git@github.com:cpp-toolbox/textured_model_loading.git
[submodule "src/graphics/shader_pipeline"]
	path = src/graphics/shader_pipeline
	url = git@github.com:cpp-toolbox/shader_pipeline.git
[submodule "src/graphics/shaders"]
	path = src/graphics/shaders
	url = git@github.com:cpp-toolbox/shaders.git
[submodule "src/graphics/window"]
	path = src/graphics/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "src/interaction/camera"]
	path = src/interaction/camera
	url = git@github.com:cpp-toolbox/camera.git
[submodule "src/interaction/mouse"]
	path = src/interaction/mouse
	url = git@github.com:cpp-toolbox/mouse.git
[submodule "src/sound_system"]
	path = src/sound_system
	url = git@github.com:cpp-toolbox/sound_system.git
[submodule "assets"]
	path = assets
	url = git@github.com:cpp-toolbox/assets.git
[submodule "src/utils/game_loop"]
	path = src/utils/game_loop
	url = git@github.com:cpp-toolbox/game_loop.git
[submodule "src/utils/stopwatch"]
	path = src/utils/stopwatch
	url = git@github.com:cpp-toolbox/stopwatch.git